{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Home{% endblock %}

{% block body %}


<div class="card-layout">
    <div class="card card--glow-strong">
        <h3>Under Construction</h3>
        <p>I'm currently rebuilding my website!</p>
        <p>In the meantime, checkout my current live site <a href="https://www.williamarice.com">here</a></p>

    </div>
</div>

{% endblock %}
