{% extends 'base.html.twig' %}

{% block title %}Hello ResumeController!{% endblock %}

{% block body %}
<div class="page-placeholder">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/williamrice/dev/billyrice-com/src/Controller/ResumeController.php</code></li>
        <li>Your template at <code>/Users/williamrice/dev/billyrice-com/templates/resume/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
